sem_05/alg_analysis/lab_01/report/.texpadtmp/
sem_05/alg_analysis/lab_04/cg-practice/cg-practice.app/
sem_05/alg_analysis/lab_04/cg-practice/.qtc_clangd/
**/*.toc
sem_02_mag/compilers/lab_01/bin/
sem_02_mag/compilers/lab_01/temp/
**/*.idea
**/*.aux
**/*.bbl
**/*.bcl
**/*.blg
**/*.log
**/*.out
**/*.run.xml
**/*.synctex.gz
**/.DS_Store
**/.texpadtmp
**/cmake-build-debug
**/fyne-cross
**/*.exe
**/*.zip
**/*.app
**/*.fdb_latexmk
**/*.fls
